* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: Montserrat;
}

/* --- Sidebar Section --- */

.dashboard__side-bar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #1992d4;
  padding: 12px 16px;
  color: #fafafa;
  gap: 32px;
}

.side-bar__header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.side-bar__header-icon {
  font-size: 2.6em;
}

.side-bar__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.side-bar__link-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.side-bar__link-icon {
  font-size: 1.2em;
}

.side-bar__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1em;
}

/* --- Header Section --- */

.dashboard-page__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
}

.dashboard-page__header {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 52px;
}

.header__search {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 50%;
}

.search__icon {
  font-size: 1.2em;
}

.search__input {
  border: none;
  background-color: #e2e8f0;
  outline: none;
  padding: 8px 16px;
  border-radius: 20px;
  width: 100%;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__notifications {
  font-size: 1.4em;
}

.header__profile-button {
  width: 52px;
  border-radius: 50%;
}

.header__name {
  font-size: 1.1em;
}

.header-bar__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-bar__profile-pic {
  width: 72px;
  border-radius: 50%;
}

.header-bar__nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
  list-style: none;
}

.header-bar__link {
  background-color: #1992d4;
  text-decoration: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 0.8em;
  padding: 10px 24px;
  border-radius: 20px;
}

/* --- Dashboard section --- */

.dashboard__container {
  width: 100%;
  flex: 1;
}

.dashboard__grid {
  padding: 20px 16px 16px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 22px;
  row-gap: 12px;
  grid-template-areas:
    "projects projects projects announcements"
    "projects projects projects trending";
}

.dashboard__projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.dashboard__announcements {
  grid-area: announcements;
}

.dahsboard__trending {
  grid-area: trending;
}

.projects__title,
.announcements__title,
.trending__title {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.projects__container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 26px 18px;
  border-radius: 8px;
  border-left: 6px solid #efb327;
}

.project__title {
  font-weight: 600;
  font-size: 1.1em;
}

.project__description {
  font-size: 0.9em;
  width: 85%;
  margin-bottom: 26px;
}

.project__buttons {
  display: flex;
  padding: 0 16px;
  gap: 26px;
  align-items: center;
  justify-content: flex-end;
}

.project__buttons .mdi {
  font-size: 1.4em;
}

.announcements__container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 22px;
  border-radius: 8px;
  gap: 14px;
}

.announcement__title {
  font-weight: 600;
  font-size: 1.1em;
}

.announcement__description {
  font-size: 0.9em;
  width: 95%;
}

.announcements__separator {
  height: 1px;
  width: 100%;
  background-color: #05050522;
}
